body{
  background-color: #041f26;
}
.card,
.carousel {
  margin-bottom: 30px;
}
.jumbotron {
    padding: 4rem 4rem;
    background-color: #073642;
    color:#839496;
    margin-bottom: 30px;
}
#loadTweetsLeft h5,
#loadTweetsRight h5{
  text-align: center;
}
footer{
  background-color: #073642;
  color:#839496;
  text-align: center;
  padding: 30px 0;
}
#intCurtain{
  display:none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(4,31,38); /* Fallback color */
  background-color: rgba(4,31,38,0.4); /* Black w/ opacity */
}
.loader {
    border: 16px solid #f7f7f7; /* Light grey */
    border-top: 16px solid #0079a1; /* Dark Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1.25s linear infinite;
    margin:150px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
